// Variables
$navbar-breakpoint: 400px;

// Imports
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/xterm/css/xterm.css";

// Fonts

@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCodeRegular.ttf");
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: contextual;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBold.ttf");
  font-weight: bold;
  font-style: normal;
}

// HTML Tags

body {
  height: 100vh;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

title {
  height: 1.7rem;
  background-color: $light;
  color: #4b4b4b;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
}

main {
  padding-top: 1rem;
}

// Classes

.hidden {
  display: none;
}

.navbar {
  padding-top: 0rem;
  padding-bottom: 0.7rem;
}

.navbar-item {
  padding-top: 0;
  padding-bottom: 0;
}

.is-dark {
  title {
    color: #b1b1b1;
    background-color: #363636;
  }

  .title {
    color: #ddd;
  }

  background-color: #1e1e1e;
  color: #999;
}

.is-h-100 {
  height: 100vh;
}

.anchor {
  display: block;
  position: relative;
  top: -6.65rem;
  visibility: hidden;
}

// IDs

#top-bar {
  top: 0;
  position: sticky;
}

#editor-pane {
  height: calc(0.6 * (100vh - 6.65rem));
}

#shell-pane {
  height: calc(0.4 * (100vh - 6.65rem));
  background-color: black;
}

#not-darwin {
  title {
    display: none;
  }

  .xterm-viewport {
    &::-webkit-scrollbar {
      min-height: 20px;
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2d343a7e;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #333940;
    }
  }

  #editor-pane {
    height: calc(0.6 * (100vh - 4.95rem));
  }

  #shell-pane {
    height: calc(0.4 * (100vh - 4.95rem));
  }
}
